

$color: steelblue;

.my-flix {
    color: $color;
}
li{
    list-style-type: none;
}
.button{
    color: black;
    margin: 10px;
}
.loginButton {
    color: black;
    margin: 10px;
}
.signupButton {
    color: black;
    margin: 10px;
}
.navigationBar {
    margin: 10px;
}
